*
!.gitignore
!build.sh
!Makefile
!README.md

!program.cbl

!api.cbl
!json.cbl

#c abi
!glue.c
!cabi.cpy

#revolt
!rmsg.cpy
!rqry.cpy
!rued.cpy
!rxch.cpy
!rcfg.cpy

#curl
!curl.cbl
!curl.cpy

#websockets
!wsws.cbl
!watr.cpy
!wlst.cpy
!wccl.cpy
!winf.cpy
!wpns.cpy
!wsws.cpy
